.footer {
    background-color:var(--footer);
    display: flex;
    flex-direction: column;
    padding:1rem;
    width: 100%;

    img {
        width:240px;
        height:240px;
    }
}

.widgets {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    align-items: center;
    justify-content: space-evenly;

    @media (min-width:1024px) {
        flex-direction: row;
    }
    
    &.centered {
        flex-direction: column;
        align-items: center;
    }
    > * {
        padding:0.5rem;
    }
}


.copyright {
    align-self: center;
}