.header {
    background-color:var(--header);
    z-index: 10;
    transition: 300ms;
    border-bottom: var(--border-colour);
    margin: auto 10px;

    &.sticky {
        position: sticky;
        top:0;
    }
}

.main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

}

.site-home {
    display: inline-flex;
    justify-content: center;
}
