@import '_header';
@import '_footer';

.full-width > *:not(.full, .menu) {
    max-width: 100%;
    margin: 0 2rem;
}

.boxed, .full-width > .boxed {
    margin: auto;
    max-width: 1500px;
}

.full > img {
    width: 100%;
    height: 100%;
}

.content-container {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

.properties {
    padding:5rem 0;
}

.grid-container {
    display: grid;
    grid-template-areas:
    "title"
    "img"
    "info"
    "cta"
    "details"
    "gallery"
    "reviews"
    "other-properties";
    grid-auto-columns: 1fr;
    margin:0 1rem;
    column-gap: 2rem;
    row-gap: 2rem;
    justify-items: center;

    .page-title {
        grid-area: title;
    }

    .img {
        grid-area: img;

        img {
            width: 100%;
            max-width: 600px;
            height: 100%;
            max-height: 600px;
            object-fit: cover;
        }
    }

    .info {
        grid-area: info;
    }

    .cta {
        grid-area: cta;
    }

    .details {
        grid-area: details;
        align-self: end;
    }

    .gallery {
        grid-area: gallery;
    }

    .reviews {
        grid-area: reviews;
    }

    .other-properties {
        grid-area: other-properties;
    }

    @media (min-width:1024px) {
        grid-template-areas:
        "title title img"
        "info info img"
        "details details img"
        "details details cta"
        "gallery gallery gallery"
        "reviews reviews reviews"
        "other-properties other-properties other-properties";
        justify-items: unset;
    }
}