@import '_header';
@import '_footer';


.boxed {
    margin:auto;
    max-width: 1500px;
}

.full-width > *:not(.full) {
    max-width: 100%;
    margin:0 2rem;
}

.full > img {
    width: 100%;
    height:100%;
}
