.site-home {
    padding: var(--logo-padding);
}

.logo {
    max-width: 200px;
    max-height: 300px;
    width:var(--width);
    height:var(--height);
    border-radius: var(--border-radius);
}

.separator {
    width:100px;
    height:100px;
    background-color: red;
}

.full {
    width: 100%;
}

.rounded {
    border-radius: 10px;
}

.reset {
    padding:0;
    margin:0;
}